/* src/components/ConfirmModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
}

.modal-title {
  font-family: var(--font-commit-mono);
  font-weight: 400;
  color: var(--primary-color); /* Ensure your CSS variables are defined or replace with actual colors */
  font-weight: bold;
}

.modal-body p {
  font-family: var(--font-commit-mono);
  font-weight: 400;
  font-size: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-footer button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer .btn-primary {
  font-family: var(--font-commit-mono);
  font-weight: 400;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-footer .btn-secondary {
  font-family: var(--font-commit-mono);
  font-weight: 400;
  color: var(--text-muted);
  background-color: transparent;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}