/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  position: sticky;
  top: 0px;
}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the spacing between back button and title */
}

.header-title {
  /* Removed explicit font-family, will inherit from global styles */
  font-weight: 400;
  color: var(--text-muted);
  font-size: 16px;
  line-height: 20px;
  margin: 0; /* Reset default margin for h1 */
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.back-button {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.back-button svg {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}

.profile-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-muted); /* Or any color you prefer */
  color: var(--background-color);
  font-weight: bold;
}