/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 0px;
  height: 64px;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  position: sticky;
  top: 0px;
}

.header-left-section {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.header-title {
  font-weight: 400;
  color: var(--text-muted);
  font-size: 16px;
  line-height: 20px;
  margin: 0px; /* Add some right margin to separate from the time */
}

.header-live-time {
  align-items: center;
  font-weight: 400; /* Make it stand out a bit */
  color: #43404C; /* Or a specific color for the time */
  font-size: 20px; /* Adjust the size as needed */
  line-height: 20px;
  margin: 0px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.back-button {
  display: flex; /* Keep your flexbox alignment if you're using it */
  justify-content: flex-start;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0; /* Remove the padding */
}

.back-button svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
  padding-left: 0px; /* You might experiment with this, but flexbox is better */
}

.profile-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-muted); /* Or any color you prefer */
  color: var(--background-color);
  font-weight: bold;
}
