/* Header.css */
.header {
  display: flex;
  justify-content: space-between; /* Ensures return icon and profile picture are on opposite ends */
  align-items: center;
  padding: 0 24px; /* 24px margin as per requirements */
  height: 64px; /* Fixed height */
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
}

.header-title {
  font-family: var(--font-shippori-mincho);
  font-size: 20px;
  color: var(--text-muted);
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.back-button svg {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}
