/* HomePage.css */

.homepage {
  padding: 24px;
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.homepage-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.motivational-section {
  text-align: center;
  margin-bottom: 24px;
  font-family: var(--font-shippori-mincho);
  color: var(--text-muted);
  font-size: 16px;
  line-height: 24px;
}

.projects-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.track-project-button {
  background-color: transparent;
  border: 1px solid var(--card-background);
  border-radius: 12px;
  text-align: center;
  font-family: var(--font-shippori-mincho);
  font-size: 16px;
  color: var(--text-color);
  padding: 16px;
  cursor: pointer;
  width: 100%;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 64px; /* Adjusted for the play.svg size */
  height: 64px; /* Adjusted for the play.svg size */
  border: none;
  border-radius: 50%;
  background-color: transparent; /* No background to showcase the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.fab-icon {
  width: 64px; /* Ensure the SVG fits the button */
  height: 64px;
}

