/* global.css */
@import "@fontsource/noto-sans/index.css";  /* Import Noto Sans */
@import "@fontsource/noto-sans/400.css";    /* Regular weight */
@import "@fontsource/noto-sans/700.css";    /* Bold weight */
@import '@fontsource/shippori-mincho';      /* Serif weight */

/* Example global font usage */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme Variables */
:root {
  --background-color: #0f0f14;
  --text-color: #ffffff;
  --text-muted: #8f92a9;
  --accent-color: #00FF00;
  --card-background: #1D1B25;
  --border-color: #25252d;
  --font-shippori-mincho: 'Shippori Mincho', serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  height: 100%;
  overflow: hidden; /* Prevent scrolling within the root */
}

/* Global Styles */
html, body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the html and body */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-shippori-mincho);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Layout Utilities */
.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 600px; /* Fixed width for consistency */
}

.card {
  background-color: var(--card-background);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
.button {
  width: 100%;
  padding: 16px;
  background-color: transparent;
  border: 1px solid var(--card-background);
  border-radius: 12px;
  text-align: center;
  font-family: var(--font-shippori-mincho);
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Utilities */
.text-center {
  text-align: center;
}

.text-muted {
  color: var(--text-muted);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 24px;
  }
}

/* Login Page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure it fills the parent's height */
  background: var(--background-color); /* Fallback if background image fails */
}

.background-image {
  background-image: url('../styles/components/assets/bg-image.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Changed to space-between */
  align-items: center;
  padding: 24px;
  text-align: center;
}

.login-logo {
  margin-top: 264px;
  width: auto; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.login-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 176px;
}

.login-tagline {
  font-family: var(--font-shippori-mincho);
  font-size: 16px;
  color: var(--text-color); /* Changed to --text-color */
  margin-bottom: 16px; /* Add some spacing between tagline and button */
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: transparent; /* Set background to transparent */
  border: 1px solid var(--card-background); /* Add the border */
  border-radius: 12px;
  color: var(--text-color);
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  opacity: 0.9;
}

/* global.css */
/* ... other CSS rules ... */
.google-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: var(--accent-color); /* Style the SVG fill color */
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Fix height */
}

.fade {
  transition: opacity 0.3s ease-in-out; /* Adjust duration and easing */
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}