/* src/components/Journal/JournalSection.css */
.journal-section {
  display: flex;
  flex-direction: column;
}

.journal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journal-label {
  font-size: 16px;
  color: var(--text-muted);
  font-family: var(--font-commit-mono);
  margin-bottom: 0;
}

.journal-all-link {
    font-size: 16px;
    color: var(--text-muted);
    font-family: var(--font-commit-mono);
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

.journal-all-link:hover {
    color: var(--text-color);
}


.journal-days {
  display: flex;
  gap: 16px; /* 16px gap between day containers */
  align-items: flex-start;
  width: calc(7 * 35px + 6 * 16px); /* Calculate total width */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding-bottom: 8px; /* Add some padding for scrollbar */
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px; /* Fixed width for day container */
}

.day-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 35px; /* Adjusted to 35px */
  height: 35px; /* Adjusted to 35px */
  color: var(--text-color);
  font-family: var(--font-commit-mono);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  margin-bottom: 4px;
}

.day-button:hover {
  background-color: var(--border-color);
}

.day-button-today {
  background-color: var(--background-color);
}

.day-button-filled {
  background-color: var(--accent-color);
}

.day-button-filled:hover {
  background-color: var(--accent-color-lighter);
}

.day-button-past-unfilled {
  background-color: var(--background-color);
}

.day-button-future {
  background-color: var(--background-color);
    opacity: 0.5;
    cursor: not-allowed;
}

.day-button-future:hover {
  background-color: var(--background-color);
    opacity: 0.5;
}


.mood-icon {
    width: 35px;
    height: 35px;
}

.day-button-filled .mood-icon {
  background-color: var(--background-color);
}

.day-button-today .mood-icon {
    fill: var(--accent-color);
}

.day-button-label {
    font-size: 12px;
    font-family: var(--font-commit-mono);
    text-transform: uppercase;
    color: var(--text-muted);
}

.day-button-label-today {
    color: var(--accent-color);
}

.day-button-label-past {
    color: var(--text-color);
}

.day-button-label-future {
    color: var(--text-muted);
}
